# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# SQLite Database
database/*.db

# Generated Reports
reports/*.pdf
reports/*.csv

# Uploaded files
uploads/*
!uploads/.gitkeep
# Python cache
*.pyo

# Pytest / coverage (future ke liye)
.pytest_cache/
.coverage

# OS files
Thumbs.db