*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#08111f;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
}

nav h2{
    color:#00e5ff;
    font-size:32px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:30px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

nav ul li a:hover{
    color:#00e5ff;
}
.hero{
    height:85vh;
    display:flex;
    align-items:center;
    padding:0 60px;
}

.hero-text{
    width:55%;
}

.hero h1{
    font-size:64px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#b8c7d9;
    margin-bottom:30px;
    line-height:35px;
}

.hero button{
    background:#00e5ff;
    color:#08111f;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    font-weight:bold;
}
