<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOC Sentinel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
<nav>

    <h2>SOC Sentinel</h2>

    <ul>

        <li><a href="#">Home</a></li>

        <li><a href="#">About</a></li>

        <li><a href="#">Dashboard</a></li>

        <li><a href="#">Reports</a></li>

        <li><a href="#">Contact</a></li>

    </ul>

</nav>
<!-- <section>

    <h1>Security Information & Event Management</h1>

    <p>
        Monitor logs, detect threats, generate alerts and visualize security events in one place.
    </p>

    <button>Launch Dashboard</button>

</section> -->
<section class="hero">

    <div class="hero-text">

        <h1>Security Information & Event Management</h1>

        <p>
            Monitor logs, detect threats, generate alerts and visualize security events in one place.
        </p>

        <button>Launch Dashboard</button>

    </div>

</section>
</body>
</html>
